In [102]:
import pandas as pd


test = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRsVWDZL82x4rkC8sbSb3PZJnowCrZbfBpAp63FiuTPTdCEAzhj0ckqvyhRqSV-jkPsrhkroSxIgV1l/pub?gid=942643602&single=true&output=csv',
                   # Set first column as rownames in data frame
                   index_col=0,
                   # Parse column values to datetime
                   parse_dates=['Marca temporal']
                  )

test.head()

,Nombre cliente,Fecha,Teléfono,Producto,Cantidad,Total,Direccion (Copiar la direccion que el cliente envie),Puntuación,Departamento,Tipo Envió,Color y talla,Municipio,Aldea,Color y talla,Talla,Color y talla [Fila 2],Color y talla [Fila 3],COD
Marca temporal,,,,,,,,,,,,,,,,,,
2023-03-01 15:31:24,Leivy Corodva,3/01/2023,38394680,Blusa materna polo,3.0,305,barrio el centro la libertad peten en oficina ...,NaN,Petén,Forza,"Rosado, azul y blanco talla M",NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-03-01 16:00:09,Ovilia Marina Chilel Ramírez,3/01/2023,30300001,Materno Tommy,2.0,335,PUNTO DE ENCUENTRO Buenos Aires Ixchiguán San ...,NaN,San Marcos,Cargo,NYCO jeans materno azul y negro talla S,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-04-01 09:48:30,Flory Tadeo,4/01/2023,57262993,Outfit jeans con bolsas atras,1.0,310,"Colonia Nueva Esperanza Chaculá, \nNentón\nHue...",NaN,Huehuetenango,Forza,NYco jeans materno con bolsas atras talla M\nB...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
def extract_from_csv(file_to_process):
    dataframe = pd.read_csv(file_to_process)
    return dataframe

In [103]:
test["Oferta"]="No"
sales_pre =  test[["Nombre cliente", "Fecha", "Teléfono", "Producto", "Cantidad", "Total " , "Departamento", "Tipo Envió","Color y talla ","Oferta"]]

sales_pre.head()

,Nombre cliente,Fecha,Teléfono,Producto,Cantidad,Total,Departamento,Tipo Envió,Color y talla,Oferta
Marca temporal,,,,,,,,,,
2023-03-01 15:31:24,Leivy Corodva,3/01/2023,38394680,Blusa materna polo,3.0,305,Petén,Forza,"Rosado, azul y blanco talla M",No
NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
2023-03-01 16:00:09,Ovilia Marina Chilel Ramírez,3/01/2023,30300001,Materno Tommy,2.0,335,San Marcos,Cargo,NYCO jeans materno azul y negro talla S,No
2023-04-01 09:48:30,Flory Tadeo,4/01/2023,57262993,Outfit jeans con bolsas atras,1.0,310,Huehuetenango,Forza,NYco jeans materno con bolsas atras talla M\nB...,No

In [104]:

listas = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRsVWDZL82x4rkC8sbSb3PZJnowCrZbfBpAp63FiuTPTdCEAzhj0ckqvyhRqSV-jkPsrhkroSxIgV1l/pub?gid=585777359&single=true&output=csv'
                  )
listas.head(5)  # Same result as @TomAugspurger

ListaPrecio =  listas[["Estilo", "Precio", "Propio" ]]

ListaPrecio = ListaPrecio.rename(columns={'Estilo': 'Producto'})
ListaPrecio.head()

                         Producto  Precio Propio
0               Play doll materno     100    NaN
1              Materno sin bolsas      95    NaN
2                   Materno Tommy      90    NaN
3   Outfit jeans sin bolsas atras     165    NaN
4  Outfit jeans con  bolsas atras     165    NaN

In [105]:

ListaCOD =  listas[["Tipo", "Costo" ]]
ListaCOD = ListaCOD.rename(columns={'Tipo': 'Tipo Envió'})
ListaCOD = ListaCOD.rename(columns={'Costo': 'CostoEnvio'})
ListaCOD.head()

  Tipo Envió  CostoEnvio
0      Forza        35.0
1      Cargo        30.0
2  Mensajero        25.0
3        NaN         NaN
4        NaN         NaN

In [106]:
sales_pre =  sales_pre.merge(ListaPrecio[['Producto', 'Precio', 'Propio']], on='Producto', how='left')
sales_pre.head()

,Nombre cliente,Fecha,Teléfono,Producto,Cantidad,Total,Departamento,Tipo Envió,Color y talla,Oferta,Precio,Propio
0,Leivy Corodva,3/01/2023,38394680,Blusa materna polo,3.0,305,Petén,Forza,"Rosado, azul y blanco talla M",No,55.0,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN
3,Ovilia Marina Chilel Ramírez,3/01/2023,30300001,Materno Tommy,2.0,335,San Marcos,Cargo,NYCO jeans materno azul y negro talla S,No,90.0,NaN
4,Flory Tadeo,4/01/2023,57262993,Outfit jeans con bolsas atras,1.0,310,Huehuetenango,Forza,NYco jeans materno con bolsas atras talla M\nB...,No,165.0,NaN

In [107]:
sales_pre =  sales_pre.merge(ListaCOD[['Tipo Envió', 'CostoEnvio']], on='Tipo Envió', how='left')

    
sales_pre.head()

,Nombre cliente,Fecha,Teléfono,Producto,Cantidad,Total,Departamento,Tipo Envió,Color y talla,Oferta,Precio,Propio,CostoEnvio
0,Leivy Corodva,3/01/2023,38394680,Blusa materna polo,3.0,305,Petén,Forza,"Rosado, azul y blanco talla M",No,55.0,NaN,35.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN

In [108]:
sales_pre['Total '] = pd.to_numeric(sales_pre['Total '], errors='coerce')  # 'coerce' to handle non-numeric values

sales_pre['CostoEnvio'] = pd.to_numeric(sales_pre['CostoEnvio'], errors='coerce')  # 'coerce' to handle non-numeric values

In [109]:
def calcular_recargo(tipo_envio, total, costo):
    if tipo_envio == 'Mensajero':
        return 0  # Ejemplo: 10% de recargo para Express
    elif tipo_envio == 'Forza':
        return (total-costo) * 0.035  # Ejemplo: 5% de recargo para Forza
    else:
        return  (total) * 0.04   # No hay recargo para otros tipos de envío

In [110]:
def calcular_Costo(cantidad, oferta, costo):
    empacado = 0
    if oferta == 'No':empacado = 5
    return cantidad*costo + empacado

In [111]:
def calcular_Utilidad(total, total_costo, envio,recargo):
    return total -(total_costo+envio+recargo)

In [121]:
def calcular_UtilidadXCobrar(tipo_envio, propio,recargo, total_costo, utilidad, oferta):
    empacado = 0
    if tipo_envio == 'Forza': return 0 # Ejemplo: 5% de recargo para Forza
   
    if propio == 'No':  empacado = 5
    if oferta =='S':
        return  utilidad + costo - empacado
    else:
        return utilidad

In [113]:
def calcular_CostoXPagar(tipo_envio, propio, total_costo):
    if tipo_envio == 'Forza': 
        if Oferta =='S':return 0
        else: return total_costo
    else: return 0

In [114]:


sales_pre['Recargo Cod']=sales_pre.apply(lambda row: calcular_recargo(row['Tipo Envió'], row['Total '], row['CostoEnvio']), axis=1)

sales_pre = sales_pre[sales_pre['Total '].notna()]
sales_pre.head()

,Nombre cliente,Fecha,Teléfono,Producto,Cantidad,Total,Departamento,Tipo Envió,Color y talla,Oferta,Precio,Propio,CostoEnvio,Recargo Cod
0,Leivy Corodva,3/01/2023,38394680,Blusa materna polo,3.0,305.0,Petén,Forza,"Rosado, azul y blanco talla M",No,55.0,NaN,35.0,9.450
31,Ovilia Marina Chilel Ramírez,3/01/2023,30300001,Materno Tommy,2.0,335.0,San Marcos,Cargo,NYCO jeans materno azul y negro talla S,No,90.0,NaN,30.0,13.400
32,Flory Tadeo,4/01/2023,57262993,Outfit jeans con bolsas atras,1.0,310.0,Huehuetenango,Forza,NYco jeans materno con bolsas atras talla M\nB...,No,165.0,NaN,35.0,9.625
33,Abigail Samperi,4/01/2023,42054873,Play doll materno,5.0,1000.0,Izabal,Forza,2 Play doll materno azul petrolado talla M \n1...,No,100.0,NaN,35.0,33.775
34,Katia Olivares,4/01/2023,46104639,Blusa materna de lona cuellito,2.0,270.0,Guatemala,Mensajero,2 Blusa materna de lona cuellito color celeste...,No,70.0,NaN,25.0,0.000

In [117]:

sales_pre['Precio'] = pd.to_numeric(sales_pre['Precio'], errors='coerce')  # 'coerce' to handle non-numeric values
sales_pre['Costo Total']=sales_pre.apply(lambda row:  calcular_Costo(row['Cantidad'], row['Oferta'], row['Precio']), axis=1)
sales_pre = sales_pre[sales_pre['Total '].notna()]
sales_pre.head()

,Nombre cliente,Fecha,Teléfono,Producto,Cantidad,Total,Departamento,Tipo Envió,Color y talla,Oferta,Precio,Propio,CostoEnvio,Recargo Cod,Costo Total
0,Leivy Corodva,3/01/2023,38394680,Blusa materna polo,3.0,305.0,Petén,Forza,"Rosado, azul y blanco talla M",No,55.0,NaN,35.0,9.450,170.0
31,Ovilia Marina Chilel Ramírez,3/01/2023,30300001,Materno Tommy,2.0,335.0,San Marcos,Cargo,NYCO jeans materno azul y negro talla S,No,90.0,NaN,30.0,13.400,185.0
32,Flory Tadeo,4/01/2023,57262993,Outfit jeans con bolsas atras,1.0,310.0,Huehuetenango,Forza,NYco jeans materno con bolsas atras talla M\nB...,No,165.0,NaN,35.0,9.625,170.0
33,Abigail Samperi,4/01/2023,42054873,Play doll materno,5.0,1000.0,Izabal,Forza,2 Play doll materno azul petrolado talla M \n1...,No,100.0,NaN,35.0,33.775,505.0
34,Katia Olivares,4/01/2023,46104639,Blusa materna de lona cuellito,2.0,270.0,Guatemala,Mensajero,2 Blusa materna de lona cuellito color celeste...,No,70.0,NaN,25.0,0.000,145.0

In [118]:
sales_pre['Utilidad']=sales_pre.apply(lambda row:  calcular_Utilidad(row['Total '], row['Costo Total'], row['CostoEnvio'], row['Recargo Cod']), axis=1)
sales_pre = sales_pre[sales_pre['Total '].notna()]
sales_pre.head()

,Nombre cliente,Fecha,Teléfono,Producto,Cantidad,Total,Departamento,Tipo Envió,Color y talla,Oferta,Precio,Propio,CostoEnvio,Recargo Cod,Costo Total,Utilidad
0,Leivy Corodva,3/01/2023,38394680,Blusa materna polo,3.0,305.0,Petén,Forza,"Rosado, azul y blanco talla M",No,55.0,NaN,35.0,9.450,170.0,90.550
31,Ovilia Marina Chilel Ramírez,3/01/2023,30300001,Materno Tommy,2.0,335.0,San Marcos,Cargo,NYCO jeans materno azul y negro talla S,No,90.0,NaN,30.0,13.400,185.0,106.600
32,Flory Tadeo,4/01/2023,57262993,Outfit jeans con bolsas atras,1.0,310.0,Huehuetenango,Forza,NYco jeans materno con bolsas atras talla M\nB...,No,165.0,NaN,35.0,9.625,170.0,95.375
33,Abigail Samperi,4/01/2023,42054873,Play doll materno,5.0,1000.0,Izabal,Forza,2 Play doll materno azul petrolado talla M \n1...,No,100.0,NaN,35.0,33.775,505.0,426.225
34,Katia Olivares,4/01/2023,46104639,Blusa materna de lona cuellito,2.0,270.0,Guatemala,Mensajero,2 Blusa materna de lona cuellito color celeste...,No,70.0,NaN,25.0,0.000,145.0,100.000

In [122]:

sales_pre['UtilidadXcobrar']=sales_pre.apply(lambda row:  calcular_UtilidadXCobrar(row['Tipo Envió'], row['Propio'], row['Recargo Cod'], row['Costo Total'], row['Utilidad'], row['Oferta']), axis=1)
sales_pre = sales_pre[sales_pre['Total '].notna()]
sales_pre.head()

,Nombre cliente,Fecha,Teléfono,Producto,Cantidad,Total,Departamento,Tipo Envió,Color y talla,Oferta,Precio,Propio,CostoEnvio,Recargo Cod,Costo Total,Utilidad,UtilidadXcobrar
0,Leivy Corodva,3/01/2023,38394680,Blusa materna polo,3.0,305.0,Petén,Forza,"Rosado, azul y blanco talla M",No,55.0,NaN,35.0,9.450,170.0,90.550,0.0
31,Ovilia Marina Chilel Ramírez,3/01/2023,30300001,Materno Tommy,2.0,335.0,San Marcos,Cargo,NYCO jeans materno azul y negro talla S,No,90.0,NaN,30.0,13.400,185.0,106.600,106.6
32,Flory Tadeo,4/01/2023,57262993,Outfit jeans con bolsas atras,1.0,310.0,Huehuetenango,Forza,NYco jeans materno con bolsas atras talla M\nB...,No,165.0,NaN,35.0,9.625,170.0,95.375,0.0
33,Abigail Samperi,4/01/2023,42054873,Play doll materno,5.0,1000.0,Izabal,Forza,2 Play doll materno azul petrolado talla M \n1...,No,100.0,NaN,35.0,33.775,505.0,426.225,0.0
34,Katia Olivares,4/01/2023,46104639,Blusa materna de lona cuellito,2.0,270.0,Guatemala,Mensajero,2 Blusa materna de lona cuellito color celeste...,No,70.0,NaN,25.0,0.000,145.0,100.000,100.0

In [124]:
Df_salesMayo = pd.read_excel('Mayo-2023.xlsx')

In [125]:
Df_salesMayo.head()

,No,Fuente,No.1,Nombre Envio,Fecha,Direccion,Departamento,Municipio,Telefono,Descripcion,...,Envio,Empacado,Total costo,Recargo 4%,Utilidad,Utilidad x cobrar,Costo a pagar,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,1.0,NaN,1.0,Cara Sucely Castillo Cardona,2023-05-02,"Sección T lote 166 zona 6, Mixco, Enfrente de ...",Guatemala,NaN,35938415,Materno Tommy,...,25,5,185,0.000,120.000,120.0,0.0,NaN,Total Venta por cobrar,23290.00
1,1.0,NaN,2.0,Xime marin,2023-05-02,10 av 30-81 z11\nSanta María de las charcas ap...,Guatemala,NaN,NaN,Licra materna,...,25,5,40,0.000,45.000,45.0,0.0,NaN,Total venta costo,12405.00
2,NaN,NaN,3.0,Jenny Estefany Herrera González,2023-05-02,3ra av 4-69 zona 1 Huehuetenango \nLocal TV CE...,Huehuetenango,NaN,52048905,Materno sin bolsas,...,35,0,180,10.325,104.675,0.0,180.0,NaN,Total envio,2275.00
3,NaN,NaN,4.0,Nathaly Leiva,2023-05-02,14 calle 19 avenida ilusion Optica puerto barr...,Izabal,NaN,59516550,Materno sin bolsas,...,35,5,185,10.500,104.500,0.0,185.0,NaN,Total comision por cobro,577.65
4,NaN,NaN,5.0,Paty Garcia,2023-05-02,Residenciales San Jose de las Fuentes 1 casa j...,Guatemala,NaN,57845806,Materno sin bolsas,...,25,5,185,0.000,125.000,125.0,0.0,NaN,NaN,NaN

In [132]:
SalesMayo_Cargo = Df_salesMayo[Df_salesMayo['Envio'] == 30 ]
SalesMayo_Cargo['Nombre Envio'] = SalesMayo_Cargo['Nombre Envio'].str.replace('[^a-zA-Z0-9\s]', '', regex=True)  # Remove special characters
SalesMayo_Cargo['Nombre Envio'] = SalesMayo_Cargo['Nombre Envio'].str.upper()  # Change to uppercase
SalesMayo_Cargo.head()

<ipython-input-132-34178ba01287>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SalesMayo_Cargo['Nombre Envio'] = SalesMayo_Cargo['Nombre Envio'].str.replace('[^a-zA-Z0-9\s]', '', regex=True)  # Remove special characters
<ipython-input-132-34178ba01287>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SalesMayo_Cargo['Nombre Envio'] = SalesMayo_Cargo['Nombre Envio'].str.upper()  # Change to uppercase

,No,Fuente,No.1,Nombre Envio,Fecha,Direccion,Departamento,Municipio,Telefono,Descripcion,...,Envio,Empacado,Total costo,Recargo 4%,Utilidad,Utilidad x cobrar,Costo a pagar,Unnamed: 24,Unnamed: 25,Unnamed: 26
6,NaN,NaN,7.0,NELY CRUZ,2023-05-04,Agencia Cargo Express Jalapa,Jalapa,NaN,48976513,Play doll materno,...,30,5,205,16.8,168.2,168.2,0.0,NaN,NaN,NaN
14,NaN,NaN,15.0,ANGLICA RUIZ RAMOS,2023-05-08,"A Zacapa, Zacapa agencia guatex o cargo expreso.",Zacapa,NaN,Angélica Ruiz Ramos,"Materno sin bolsas, Jeans Most Wanted",...,30,5,235,13.4,56.6,56.6,0.0,NaN,NaN,NaN
22,NaN,NaN,23.0,PAOLA PUAC,2023-05-11,San Francisco Zapotitlán Suchitepéquez calle d...,Suchitepéquez,NaN,47416248,Materno sin bolsas,...,30,5,185,13.4,106.6,106.6,0.0,NaN,NaN,NaN
27,NaN,NaN,NaN,LUZ MARA FLORES NAVAS,2023-05-15,Aldea utzumazate Barberena Santa Rosa por la e...,Sacatepéquez,NaN,51300800,Materno sin bolsas,...,30,5,195,13.4,96.6,96.6,NaN,NaN,NaN,NaN
36,NaN,NaN,34.0,ELSA ARACELY WINTER SAGASTUME,2023-05-18,"Agencia Pepsi Morales Izabal, ubicado en aldea...",Izabal,NaN,42252036,Materno sin bolsas,...,30,5,185,13.4,106.6,106.6,0.0,NaN,NaN,NaN

In [136]:
Cargo_guias_mayo = pd.read_excel('Mayo-cargo.xlsx')
Cargo_guias_mayo.head()

,NumeroGuia,Fecha,Remitente,Destinatario,Referencia 1,Referencia 2,CCredito,Estado,Motivo,Destino,Recibido Por,Fecha Recibido,Recibido Hora
0,3W233852823,2023-05-02,GXMODA,CÁNDIDA VÁSQUEZ JUARES,NaN,NaN,6775.0,Entregado,NaN,HUE,candida,2023-05-03,14:10
1,3W233851410,2023-05-02,GXMODA,AMPARO GODINEZ,NaN,NaN,6775.0,Entregado,NaN,LIA,amparo godinez,2023-05-03,18:30
2,1W233852411,2023-05-02,GXMODA,SHERYL VIDES,NaN,NaN,6775.0,Entregado,NaN,REU,SHERYL VIDES,2023-05-04,00:0
3,1W233852111,2023-05-02,GXMODA,DINA ELIZABETH GARRIDO,NaN,NaN,6775.0,Entregado,NaN,ESC,ANA GARRIDO,2023-05-04,00:00
4,3W233854058,2023-05-02,GXMODA,GLENDA XILOJ,LLAMAR PÁRA COORDINAR ENTREGA,NaN,6775.0,Entregado,NaN,XLA,glenda xiloj,2023-05-04,16:22

In [139]:
SalesMayo_Cargo = SalesMayo_Cargo.rename(columns={'Nombre Envio': 'Destinatario'})
SalesMayo_Cargo =  SalesMayo_Cargo.merge(Cargo_guias_mayo[['Destinatario', 'Estado']], on='Destinatario', how='left')
SalesMayo_Cargo.head()

,No,Fuente,No.1,Destinatario,Fecha,Direccion,Departamento,Municipio,Telefono,Descripcion,...,Empacado,Total costo,Recargo 4%,Utilidad,Utilidad x cobrar,Costo a pagar,Unnamed: 24,Unnamed: 25,Unnamed: 26,Estado
0,NaN,NaN,7.0,NELY CRUZ,2023-05-04,Agencia Cargo Express Jalapa,Jalapa,NaN,48976513,Play doll materno,...,5,205,16.8,168.2,168.2,0.0,NaN,NaN,NaN,Entregado
1,NaN,NaN,15.0,ANGLICA RUIZ RAMOS,2023-05-08,"A Zacapa, Zacapa agencia guatex o cargo expreso.",Zacapa,NaN,Angélica Ruiz Ramos,"Materno sin bolsas, Jeans Most Wanted",...,5,235,13.4,56.6,56.6,0.0,NaN,NaN,NaN,NaN
2,NaN,NaN,23.0,PAOLA PUAC,2023-05-11,San Francisco Zapotitlán Suchitepéquez calle d...,Suchitepéquez,NaN,47416248,Materno sin bolsas,...,5,185,13.4,106.6,106.6,0.0,NaN,NaN,NaN,Entregado
3,NaN,NaN,NaN,LUZ MARA FLORES NAVAS,2023-05-15,Aldea utzumazate Barberena Santa Rosa por la e...,Sacatepéquez,NaN,51300800,Materno sin bolsas,...,5,195,13.4,96.6,96.6,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,34.0,ELSA ARACELY WINTER SAGASTUME,2023-05-18,"Agencia Pepsi Morales Izabal, ubicado en aldea...",Izabal,NaN,42252036,Materno sin bolsas,...,5,185,13.4,106.6,106.6,0.0,NaN,NaN,NaN,NaN

In [144]:
Forza_guias_mayo = pd.read_excel('Mayo-Forza.xlsx')

Forza_guias_mayo = Forza_guias_mayo.rename(columns={'Telefono Destino': 'Telefono'})
SalesMayo_Forza =  SalesMayo_Forza.merge(Forza_guias_mayo[['Telefono', 'Estado']], on='Telefono', how='left')
SalesMayo_Forza.head()

<ipython-input-144-3b141516b8d0>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SalesMayo_Forza['Nombre Envio'] = SalesMayo_Forza['Nombre Envio'].str.replace('[^a-zA-Z0-9\s]', '', regex=True)  # Remove special characters
<ipython-input-144-3b141516b8d0>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  SalesMayo_Forza['Nombre Envio'] = SalesMayo_Forza['Nombre Envio'].str.upper()  # Change to uppercase

,No,Fuente,No.1,Nombre Envio,Fecha,Direccion,Departamento,Municipio,Telefono,Descripcion,...,Empacado,Total costo,Recargo 4%,Utilidad,Utilidad x cobrar,Costo a pagar,Unnamed: 24,Unnamed: 25,Unnamed: 26,Estado
0,NaN,NaN,3.0,JENNY ESTEFANY HERRERA GONZLEZ,2023-05-02,3ra av 4-69 zona 1 Huehuetenango \nLocal TV CE...,Huehuetenango,NaN,52048905,Materno sin bolsas,...,0,180,10.325,104.675,0.0,180.0,NaN,Total envio,2275.00,COD pagado
1,NaN,NaN,4.0,NATHALY LEIVA,2023-05-02,14 calle 19 avenida ilusion Optica puerto barr...,Izabal,NaN,59516550,Materno sin bolsas,...,5,185,10.500,104.500,0.0,185.0,NaN,Total comision por cobro,577.65,COD pagado
2,NaN,NaN,6.0,CAROLINA RUZ,2023-05-02,Caserío nueva vista hermosa km 35 la Libertad ...,Petén,NaN,48506680 / 32717244,Play doll materno,...,5,205,11.375,108.625,0.0,205.0,NaN,Empaque,355.00,NaN
3,NaN,NaN,10.0,DULCE MARA,2023-05-04,"2 calle 7-1 zona 1, Hotel Oro Verde, Chicamán ...",Quiché,NaN,Dulce María,Materno sin bolsas,...,5,185,10.500,104.500,0.0,185.0,NaN,Diferencia a pagar,1898.40,NaN
4,NaN,NaN,11.0,SELENY CISNEROS,2023-05-06,Pollo rostizado el buen gusto ala par de credi...,Jutiapa,NaN,44829773,Materno sin bolsas,...,5,95,6.125,73.875,0.0,95.0,NaN,(-) Pago Publicidad FB gx Moda,0.00,COD pagado

In [145]:
combined_df = pd.concat([SalesMayo_Forza, SalesMayo_Cargo], ignore_index=True)
combined_df.head()

,No,Fuente,No.1,Nombre Envio,Fecha,Direccion,Departamento,Municipio,Telefono,Descripcion,...,Total costo,Recargo 4%,Utilidad,Utilidad x cobrar,Costo a pagar,Unnamed: 24,Unnamed: 25,Unnamed: 26,Estado,Destinatario
0,NaN,NaN,3.0,JENNY ESTEFANY HERRERA GONZLEZ,2023-05-02,3ra av 4-69 zona 1 Huehuetenango \nLocal TV CE...,Huehuetenango,NaN,52048905,Materno sin bolsas,...,180,10.325,104.675,0.0,180.0,NaN,Total envio,2275.00,COD pagado,NaN
1,NaN,NaN,4.0,NATHALY LEIVA,2023-05-02,14 calle 19 avenida ilusion Optica puerto barr...,Izabal,NaN,59516550,Materno sin bolsas,...,185,10.500,104.500,0.0,185.0,NaN,Total comision por cobro,577.65,COD pagado,NaN
2,NaN,NaN,6.0,CAROLINA RUZ,2023-05-02,Caserío nueva vista hermosa km 35 la Libertad ...,Petén,NaN,48506680 / 32717244,Play doll materno,...,205,11.375,108.625,0.0,205.0,NaN,Empaque,355.00,NaN,NaN
3,NaN,NaN,10.0,DULCE MARA,2023-05-04,"2 calle 7-1 zona 1, Hotel Oro Verde, Chicamán ...",Quiché,NaN,Dulce María,Materno sin bolsas,...,185,10.500,104.500,0.0,185.0,NaN,Diferencia a pagar,1898.40,NaN,NaN
4,NaN,NaN,11.0,SELENY CISNEROS,2023-05-06,Pollo rostizado el buen gusto ala par de credi...,Jutiapa,NaN,44829773,Materno sin bolsas,...,95,6.125,73.875,0.0,95.0,NaN,(-) Pago Publicidad FB gx Moda,0.00,COD pagado,NaN

In [147]:
combined_df.to_excel('sales_may.xlsx', index=False)

In [153]:
def guias_cargo(df,Filename):
    Cargo_guias = pd.read_excel(Filename)
    Cargo_guias = Cargo_guias.rename(columns={'Destinatario': 'Nombre Envio'})
    df['Nombre Envio'] = df['Nombre Envio'].str.replace('[^a-zA-Z0-9\s]', '', regex=True)  # Remove special characters
    df['Nombre Envio'] = df['Nombre Envio'].str.upper()  # Change to uppercase
    df =  df.merge(Cargo_guias[['Nombre Envio', 'Estado']], on='Nombre Envio', how='left')
    return df

In [159]:
def guias_forza(df,Filename):
    Forza_guias = pd.read_excel(Filename)

    Forza_guias = Forza_guias.rename(columns={'Telefono Destino': 'Telefono'})
    df =  df.merge(Forza_guias[['Telefono', 'Estado']], on='Telefono', how='left')
    return df

In [160]:
def validate_guias(filenameSales, FilenameForza, FilenameCargo, filenameSalesOut):
    df_sales = pd.read_excel(filenameSales)
    df_sales =guias_cargo(df_sales, FilenameCargo)
    df_sales =guias_forza(df_sales, FilenameForza)
    df_sales.to_excel(filenameSalesOut, index=False)
    return validate_guias

In [161]:
validate_guias('sales_may.xlsx','Mayo-Forza.xlsx','Mayo-cargo.xlsx','Sales_may_Check.xlsx')